# This workflow will run tests using node and then publish a package to GitHub Packages
# For more information see: https://help.github.com/actions/language-and-framework-guides/publishing-nodejs-packages

name: Node.js Package

# TODO  create github release when merging to main https://github.com/actions/create-release

on:
  release:
    types: [created]
  push:

jobs:
  build-storybook:
    runs-on: ubuntu-latest
    name: Build Storybook
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: 'yarn'
      - run: yarn install --frozen-lockfile
      - run: yarn build-storybook
  build:
    runs-on: ubuntu-latest
    name: Build package
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: 'yarn'
      - run: yarn install --frozen-lockfile
      - run: yarn build
      - run: yarn test
      - uses: actions/upload-artifact@master
        with:
          name: dist
          path: dist/
  publish-npm:
    name: Publish to NPM
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: 'yarn'
          registry-url: https://registry.npmjs.org/
      - uses: actions/download-artifact@master
        with:
          name: dist
          path: dist/
      - run: yarn install --frozen-lockfile
      - if: github.ref != 'refs/heads/main'
        run: npm publish --access public --dry-run
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
      - if: github.ref == 'refs/heads/main'
        run: npm publish --access public
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
